.counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #efedde;
}

.counter {
    font-size: 3rem;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    color: #000000;
}
