body {
    background-color: rgb(0, 0, 0);
}

.counter-container {
    margin-top: 1rem;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    height: min-content;
    border-radius: 15px;
}

.s{
    color: #ffffff;
    z-index: 10;
}

.counter {
    font-size: 3rem;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    color: #000000;
}
